html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #eee;
}
.footer .container .footer-middle{
    display: table-cell;
    vertical-align: middle;
    height: 60px;
}

.container.ldfcorp-content{
    padding-top: 70px;
}

.ldfcorp-chat, .ldfcorp-chat-frame{
    vertical-align: top;
    width: 350px;
}
.ldfcorp-video-detection{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color: #555;
    color: #aaa;
    font-size: 20px;
    padding: 10px;
}

.ldfcorp-chat {
    display: inline-block;
}

.ldfcorp-leftzone {
    display: inline-block;
}
.ldfcorp-buttons-list ul{
    padding: 0px;
}
.ldfcorp-buttons-list li{
    display: inline-block;
    list-style-type: none;
    margin: 4px;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
    .ldfcorp-video{
        width: 100%;
    }
    .ldfcorp-video-frame{
        width: 320px;
    }
    .ldfcorp-video-frame{
        height: 180px;
    }
    
    .ldfcorp-chat-frame {
        height: 400px;
    }
    .ldfcorp-chat, .ldfcorp-chat-frame {
        width: 100%;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .ldfcorp-video, .ldfcorp-video-frame, .ldfcorp-description{
        width: 352px;
    }
    .ldfcorp-video-frame{
        height: 198px;
    }
    
    .ldfcorp-chat-frame {
        height: 396px;
    }
    
    .ldfcorp-description{
        height: 193px;
    }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
    .ldfcorp-video, .ldfcorp-video-frame, .ldfcorp-description{
        width: 576px;
    }
    .ldfcorp-video-frame{
        height: 324px;
    }
    
    .ldfcorp-chat-frame {
        height: 509px;
    }
    
    .ldfcorp-description{
        height: 180px;
    }
}

@media screen and (min-width: 1201px) {
    .ldfcorp-video, .ldfcorp-video-frame, .ldfcorp-description{
        width: 784px;
    }
    .ldfcorp-video-frame{
        height: 441px;
    }
    .ldfcorp-chat-frame {
        height: 626px;
    }
    
    .ldfcorp-description{
        height: 180px;
    }
}