<script src="{{ asset('bundles/gnkwldfldfcorp/js/detection.js') }}" type="text/javascript"></script>
<script type="text/javascript">
    var Blocker = function() {
        this.detection = new Detection();
        this.videoFrame = $(".ldfcorp-video").html();
    };
    
    Blocker.prototype.active = function() {
        this.detection.removeAll();
        this.detection.add(true, function(){
            $(".ldfcorp-video").html('<div class="ldfcorp-video-frame ldfcorp-video-detection"></div>');
            $(".ldfcorp-video-detection").text("{{ 'ldfcorp.adblock.video'|trans }}");
        });
        this.detection.check();
    };
    
    Blocker.prototype.remove = function() {
        $(".ldfcorp-video").html(this.videoFrame);
        this.detection.removeAll();
        this.detection.check();
    };
</script>